html {
	background-color: honeydew;
}

body {
      font-family: Arial, sans-serif;
      margin: 40px;
      background-color: honeydew;
    }

    h1 {
      color: #d62828;
      text-align: center;
    }

    h2 {
      color: #333;
      text-align: center;
    }

	h1,h2, a, table {
		font-family: "SUSE Mono", sans-serif;
		color: teal;
	}
    /* Keep image and right content side by side */
    .artist-section {
      display: flex;
      justify-content: center;   /* centers whole section */
      align-items: flex-start;
      gap: 40px;
      margin-top: 20px;
    }

    img {
      width: 250px;
      border-radius: 10px;
    }

    .artist-info {
      text-align: center;
    }

    .artist-info a {
      display: block;
      margin-top: 10px;
      text-decoration: none;
      color: #0077cc;
      font-weight: bold;
    }

    .artist-info a:hover {
      text-decoration: underline;
    }

    /* Right side container for list + table */
    .artist-details {
      display: flex;
      flex-direction: column; /* stack list above table */
      align-items: flex-start;
      width: 500px;
    }

	ul {
		text-align: center;
		font-family: "SUSE Mono", sans-serif;
		color: dark turquoise;
	}

    table {
      width: 100%;
      border-collapse: collapse;
    }

    th, td {
      border: 1px solid #ccc;
      padding: 10px;
      text-align: center;
    }

    th {
      background-color: #eee;
    }
